@import '../../styles/shared.scss';
@import '../../styles/colors.scss';

.image-dog
{
    height: 30vh;
    max-width: 100%;
    transition: 0.5s all ease-in-out;

    &:hover
    {
        height: 35vh;
        max-width: auto;
    }

    @media screen and (max-width: 1200px) 
    {
        height: auto;
        width: 80%;

        &:hover
        {
            width: 90%;
            height: auto;
        }
        
    }
}

.title-images
{
    text-transform: capitalize;
    text-decoration: underline;
    text-align: left;
}

.home-image
{
    padding-left: 0.5rem;
    max-height: 40px; 
}

.button-images
{
    padding: 0.5rem;
    margin: 2rem;
    background-color: $reload-color;
    color: white;
    border-radius: 0.5rem;
}